@tailwind base;
@tailwind components;
@tailwind utilities;

.main__page {
    position: relative;
    background-image: url("../public/wallpaper-pop.jpg");
    background-size: cover;
    overflow: hidden;
}