@tailwind base;
@tailwind components;
@tailwind utilities;

.main__page {
    position: relative;
    background-image: url("../public/background-light.jpg");
    background-size: cover;
    overflow: hidden;
}

.dark .main__page {
    background-image: url("../public/background-dark.jpg");
}